<section class="section contact" data-anchor="contactSection">
    <div class="uk-height-viewport uk-background-cover uk-light uk-flex">
        <div class="uk-margin-auto uk-margin-auto-vertical">
            <div class="uk-container">
                <div class="uk-width-small uk-margin-auto">
                    <h2 class="section__title uk-text-center">Contact</h2>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-large uk-margin-auto">
                        <p class="paragraph">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur minus omnis, vel
                            officiis
                            ab
                            aliquid? Voluptatum nisi facilis quam illo.
                        </p>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-grid">
                            <div class="uk-width-auto">
                                <img class="section__icon" src="../images/interface/mail.svg" alt="" uk-svg height="65" width="68">
                            </div>
                            <div class="uk-width-expand">
                                <a href="mailto:moonlightmotion.band@gmail.com">
                                    moonlightmotion.band@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <img src="./../app/images/mountains_trans.png" alt="">
                    </div>
                </div>
            </div>
            {{= it.include("footer") }}
        </div>
    </div>
</section>