<aside data-behaviour="cookie-bar" class="cookie-bar">
    <div class="cookie-bar__layout">
        <div class="uk-container uk-container-small uk-padding-small">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-width-expand@s">
                    <p class="cookie-bar__text uk-margin-small-top">
                        You agree to our use of cookies on your device by continuing to use our website or by clicking
                    </p>
                </div>
                <div class="uk-width-1-1 uk-width-auto@s">
                    <button data-behaviour="accept-cookie" class="btn uk-button uk-button-primary cookie-bar__button ">
                        <span>Accept</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</aside>