<header class="section header" role="banner" data-anchor="headerSection">

    <!-- NAV -->
    <div class="uk-position-top navigation">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- END! NAV -->

    <!-- SLIDER -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="animation: fade; ratio: false; autoplay: true; autoplay-interval: 4000">

        <ul class="uk-slideshow-items" uk-height-viewport="min-height: 300">
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_1.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                    <img src="./../app/images/slider/slide_2.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_3.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="./../app/images/slider/slide_4.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_5.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                    <img src="./../app/images/slider/slide_6.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                    <img src="./../app/images/slider/slide_7.jpg" alt="" uk-cover>
                </div>
            </li>
        </ul>
    </div>
    <!-- END! SLIDER -->
</header>