<header class="section header" role="banner" data-anchor="headerSection">

    <!-- NAV -->
    <div class="uk-position-top navigation">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">
                    <img src="./../app/images/MM_logotype.png" class="navigation__logo" alt="Moonlight Motion logotype">
                </a>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                    <div class="">
                        <div class="uk-width-1-1">
                            <h5 class="title uk-margin-small navigation__text">MUSIC ON
                            </h5>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top">
                            <a href="https://open.spotify.com/artist/0H7VtXUm1r3vr10xp0jJv5" class="navigation__icon"
                                target="_blank">
                                <img src="./../app/images/icons/spotify.svg" class="icon navigation__svg"
                                    alt="Spotify icon" uk-svg>
                            </a>
                            <a href="https://soundcloud.com/sonos-machina" target="_blank" class="navigation__icon">
                                <img src="./../app/images/icons/soundcloud.svg" class="icon navigation__svg"
                                    alt="Soundcloud icon" uk-svg>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="uk-navbar-item">
                    <div class="">
                        <div class="uk-width-1-1">
                            <h5 class="title uk-margin-small navigation__text">FOLLOW US
                            </h5>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top">
                            <a href="https://www.facebook.com/moonlight.motion/" class="navigation__icon"
                                target="_blank">
                                <img src="./../app/images/icons/facebook.svg" class="icon navigation__svg"
                                    alt="Facebook icon" uk-svg>
                            </a>
                            <a href="https://www.instagram.com/moonlight.motion/" class="navigation__icon"
                                target="_blank">
                                <img src="./../app/images/icons/instagram.svg" class="icon navigation__svg"
                                    alt="Instagram icon" uk-svg>
                            </a>
                            <a href="https://www.youtube.com/channel/UCCJxJXBof9od-dLQ9_VF3ZA" class="navigation__icon"
                                target="_blank">
                                <img src="./../app/images/icons/youtube.svg" class="icon navigation__svg"
                                    alt="Youtube icon" uk-svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- END! NAV -->

    <!-- SLIDER -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="animation: fade; ratio: false; autoplay: true; autoplay-interval: 4000">

        <ul class="uk-slideshow-items" uk-height-viewport="min-height: 300">
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_1.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                    <img src="./../app/images/slider/slide_2.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_3.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="./../app/images/slider/slide_4.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="./../app/images/slider/slide_5.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                    <img src="./../app/images/slider/slide_6.jpg" alt="" uk-cover>
                </div>
            </li>
            <li>
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                    <img src="./../app/images/slider/slide_7.jpg" alt="" uk-cover>
                </div>
            </li>
        </ul>
    </div>
    <!-- END! SLIDER -->

    <div class="section__chevron uk-position-bottom-center" uk-icon="icon: chevron-down; ratio: 2.5"></div>
</header>