<section class="section shows" data-anchor="showsSection">
    <div class="uk-height-viewport uk-background-cover uk-light uk-flex">
        <div class="uk-margin-auto uk-margin-auto-vertical">
            <div class="uk-container">
                <div class="uk-width-small uk-margin-auto">
                    <h2 class="section__title uk-text-center">Shows</h2>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <table class="uk-table uk-table-responsive uk-table-divider table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th class="uk-table-expand">Place</th>
                                    <th class="uk-table-expand">City</th>
                                    <th>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>09.01.2020</td>
                                    <td>Live streaming - band practice</td>
                                    <td>Reading, UK</td>
                                    <td class="uk-table-link"><a class="uk-link-reset" href="">Read more</a></td>
                                </tr>
                                <tr>
                                    <td>17.01.2020</td>
                                    <td>Phoenix Bar</td>
                                    <td>High Wycombe, UK</td>
                                    <td class="uk-table-link"><a class="uk-link-reset" href="">Read more</a></td>
                                </tr>
                                <tr>
                                    <td>25.01.2020</td>
                                    <td>Acoustic Couch</td>
                                    <td>Bracknell, UK</td>
                                    <td class="uk-table-link"><a class="uk-link-reset" href="">Read more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__chevron uk-position-bottom-center" uk-icon="icon: chevron-down; ratio: 2.5"></div>
</section>