<!DOCTYPE html>
<!--[if IE 9]>          <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!-- Site Info -->
    <title>{{= it.document.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153571673-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153571673-1');
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="{{= it.document.description }}">
    <meta name="keywords" content="{{= it.document.keywords }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- Google font - Montserrat -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap" rel="stylesheet">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

    <!-- Full page JS -->
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../app/stylesheets/application.css" />

</head>

<body class="{{= it.document.body_class }}">

    {{= it.document }}

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>

    <!-- Full page JS -->
    <script type="text/javascript" src="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js"></script>

    <script src="app/javascript/application.js"></script>

    <script>
        new fullpage('#fullpage', {
            licenseKey: '558EDFAC-AE174C8C-8F3936DB-D114569A',
            anchors: [
                'headerSection', 'aboutSection', 'bandSection', 'showsSection', 'contactSection'
            ],
            navigation: true,
            navigationPosition: 'left',
            navigationTooltips: ['Home', 'About', 'Band', 'Shows', 'Contact'],
            scrollingSpeed: 1600,
            normalScrollElementTouchThreshold: 5,
            afterLoad: function (anchorLink, index) {
                console.log('load');
                setTimeout(function () {
                    $('#fp-nav a.active').removeClass('active');
                }, 2000);
            }
        });

    </script>

</body>

</html>