html
    background-color: #170422

a
    color: #eb2a46
    text-decoration: underline
    transition: 0.8s all
    &:hover
        color: #F5F5F5
        transition: 0.8s all


.title
    color: #eb2a46
    &--small
        color: #999

.paragraph
    color: #666



.hero
    &__outer
        height: 300px
    &__mountains
        &--back
            z-index: 4
        &--front
            z-index: 1    

.logo
    font-family: "ModernM", "Avenir", "Helvetica", Arial, sans-serif
    font-size: 90px
    color: #170422
    &__leftM
        z-index: 2
        top: 30%
        // left: 36%
        left: 41%
    &__rightM
        z-index: 3
        top: 30%
        // left: 44%
        left: 41%

.icon
    width: 35px
    fill: #eb2a46
    transition: 1s all
    &:hover
        fill: #F5F5F5
        transition: 0.8s all

.opacity-0
    opacity: 0