::selection
    background: $amaranth
    
html
    background-color: $jaguar

a
    color: $amaranth
    text-decoration: underline
    transition: 0.8s all
    &:hover
        color: $wild-sand
        transition: 0.8s all


.title
    color: $amaranth
    &--small
        color: $dusty-gray

.paragraph
    color: $dove-gray
    &--small
        font-size: 12px
        color: $dove-gray
        font-weight: 100!important



.hero
    &__outer
        height: 300px
    &__mountains
        &--back
            z-index: 4
        &--front
            z-index: 1    

.logo
    font-family: "ModernM", "Avenir", "Helvetica", Arial, sans-serif
    font-size: 90px
    color: $jaguar
    &__leftM
        z-index: 2
        top: 30%
        // left: 36%
        left: 41%
    &__rightM
        z-index: 3
        top: 30%
        // left: 44%
        left: 41%

.icon
    width: 35px
    fill: $amaranth
    transition: 1s all
    &:hover
        fill: $wild-sand
        transition: 0.8s all

.opacity-0
    opacity: 0