// --------------------------------------------------------------------------
// colors.sass
// --------------------------------------------------------------------------
// This file assigns all hex colors to variables
// --------------------------------------------------------------------------
// All names are genereted using 'http://chir.ag/projects/name-that-color'
// --------------------------------------------------------------------------

//***********************************
// Greyscale
//***********************************

$black: #000
$white: #fff

$picton-blue: #19b7ef
$bahama-blue: #005c92
$aqua-haze: #f0f5f7


// Moonlight Motion colours
$amaranth: #eb2a46
$jaguar: #170422    

// Gray, Dark
$mine-shaft: #252525
$dusty-gray: #999
$dove-gray: #666

// White, Bright
$wild-sand: #F5F5F5

