// --------------------------------------------------------------------------
// fonts.sass
// --------------------------------------------------------------------------
// This file assigns gloablly used fonts to variables
// --------------------------------------------------------------------------

//***********************************
// @font-face rules
//***********************************




//***********************************
// Customs
//***********************************


$narrow: "Avenir", Arial, sans-serif

*
    font-family: 'Avenir', serif!important
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale